
@{
    ViewBag.Title = "ChangeUserName";
}

<form action="@Url.Action("ChangeUserName", "Account")" method="post">
<div class="row marginb">
    <div class="col-xs-4">
        Enter new Username
        <input type="text" name="UserName" class="form-control" required />
    </div>
</div>
    <button type="submit" class="btn btn-primary">Update</button>
</form><br />
Changing your username will log you out.