.formalign {
    display: inline;
}

.hrcolor {
    border-color: #A8A8A0;
}

.attachments {
    width: 200px;
    height: 200px;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
}

.textsize {
    font-size: 16px;
}

.Critical {
    color: red;
}

.Criticalb {
    background-color: red;
}

.High {
    color: orange;
}

.Highb {
    background-color: orange;
}

.Medium {
    color: yellow;
}

.Mediumb {
    background-color: yellow;
}

.Low {
    color: green;
}

.Lowb {
    background-color: green;
}

.bgticketheader {
    background-color: #428bca;
}

.bgticketbody {
    background-color: #FFFFC2;
}

.margintext {
    margin-right: -10px;
}

.black {
    color: #000000;
}

.betterul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0;
}

.inlineli {
    display: inline;
    padding-right: 10px;
}

.nolink {
    text-decoration: none !important;
}

.button {
    border: none;
    background: none;
}

.tickerheader {
    color: #FFFFFF;
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
