.formalign {
    display: inline;
}

.hrcolor {
    border-color: #A8A8A0;
}

.Critical {
    color: red;
}

.High {
    color: orange;
}

.Medium {
    color: yellow;
}

.Low {
    color: green;
}

.bgticketheader {
    background-color: #428bca;
}

.bgticketbody {
    background-color: #FFFFC2;
}

.margintext {
    margin-right: -10px;
}

.black {
    color: #000000;
}

.betterul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0;
}

.inlineli {
    display: inline;
    padding-right: 10px;
}

.nolink {
    text-decoration: none !important;
}

.ticketborderbtm {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
}

.ticketborder {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

.boxshadowticket {
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.6);
}

.ticketbordertop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ticketbordertophdr {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.tickerheader {
    color: #FFFFFF;
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
