@{
    ViewBag.Title = "Home Page";
}
<div class="cols-xs-12">
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
    <a href="@Url.Action("Register", "Account")" class="btn btn-primary">Register</a>
</div>