@{
    ViewBag.Title = "Home Page";
}
<div class="alignc">
    <h2>Bug Tracker</h2>
    <img src="~/Content/bug.jpg" /><br />
    Bugtracker was created with MVC, C#, LINQ, jquery, CSS, and Visual Studio<br />
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login</a>
    <a href="@Url.Action("Register", "Account")" class="btn btn-primary">Register</a>
</div>