@model IList<WebApplication4.Models.Ticket>
@{
    ViewBag.Title = "Main";
}

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <h3>Total Tickets Opened By Month</h3>
            <div id="Tickets" style="height: 400px;"></div>
        </div>
    </div>
</div>
@section scripts{
<script>
    new Morris.Bar({
        element: 'Tickets',
        data: [
            @{
            if(Model != null && Model.Count > 0)
            {
                var first = Model.First();
                var mmonth = first.Created.Month;
                var myear = first.Created.Year;
                var cmonth = first.Created.Month;
                var cyear = first.Created.Year;
                var total = 0;
            foreach(var item in Model)
            {
                var month = item.Created.Month;
                var year = item.Created.Year;
                if(mmonth == month && myear == year)
                {
                    total++;
                }
                else
                {
                    @:{ date: '@mmonth/@myear', value: '@total' },
                    mmonth = month;
                    myear = year;
                    total = 0;
                    total++;
                }
            }
            @:{ date: '@mmonth/@myear', value: '@total' }
            }
            }
        ],
        xkey: 'date',
        parseTime: false,
        ykeys: ['value'],
        labels: ['Open'],
        grid: false,
        axes: 'x'
    });
</script>
}